<!DOCTYPE html>
<html>
<script>
  body{
      background-color: #4CAF50;
  }
  
</script>
<body>
  {{>navbar}}

<h1 style="color:DodgerBlue;">To register click on register</h1>
<h1 style="color:DodgerBlue;">To login click on login</h1>

</body>
</html>
